body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.character-container:hover{
  background-color: var(--blue);
}

@media screen and (min-width: 414px) {
  .characters {
    width: 98%;
  }
}

@media screen and (max-width: 620px) {
  .characters {
    width: 100%;
  }
}

